
/* Header scss goes here */

$break-small: 500px;

$break-large: 700px;

body {
	background: #252527;
}

a {
	text-decoration: none;
	color: white;
}

p {
	color: lightgray;
}

.tagline {
	color: white;
}

.main-header {
	height: 40px;
}

.logo {
	margin: 0;
	float: left;
}

.mobile-search-input {
	width: 90%;
}


.search-input {
	width: 80%;
}


.header-search-button {
	float: left;
	width: 20%;
}

.mobile-search-form {
	float: left;
	width: 100%;
}


.search-form {
	float: left;
}


.header-right {
	float: right;
	width: 40%;
}


.header-search{
	@media screen and (max-width: $break-small) {
    	display: none;
  	}
  	@media screen and (min-width: $break-small) {
    	display: block;
  	}
}

.mobile-search {
  @media screen and (max-width: $break-small) {
    display: block;
    width: 100%;
    height: 40px;
  }
  @media screen and (min-width: $break-small) {
    display: none;
  }
}


.header-left {	
	float: left;
}

/* Body scss goes here */

.single-pen-iframe {
	@media screen and (max-width: $break-small) {
    	width: 100%;
  	}
  	@media screen and (min-width: $break-small) {
    	width: 240px;
  	}
}

.single-pen {
	float: left;
	margin: 0 2% 25px 0;
	@media screen and (max-width: $break-small) {
    	width: 100%;
  	}
  	@media screen and (min-width: $break-small) {
    	width: 240px;
  	}
}

.group {
	display: table;
}

