
/* Header scss goes here */

$break-small: 500px;

$break-large: 700px;

body {
	background: #252527;
}

a {
	text-decoration: none;
	color: white;
}

.main-header {
	height: 40px;
}

.logo {
	margin: 0;
	float: left;
}

.header-search-button {
	float: left;
}

.search-form {
	float: left;
}

.header-right {
	float: right;
}

.header-search{
	@media screen and (max-width: $break-small) {
    	display:none;
  	}
  	@media screen and (min-width: $break-small) {
    	display:block;
  	}
}

.mobile-search {
  @media screen and (max-width: $break-small) {
    display:block;
  }
  @media screen and (min-width: $break-small) {
    display:none;
  }
}


.header-left {	
	float: left;
}

/* Body scss goes here */



.single-pen {
	float: left;
	margin: 0 2% 25px 0;
}

.group {
	display: table;
}

